<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marwa.androidproject">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="Mashaweri"
        android:roundIcon="@mipmap/icon2"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDRFkZKJI2Y2sQTNlUa4Qyp4oOJ9X7TTsE" />

        <activity android:name="com.example.marwa.androidproject.LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlramReciver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver android:name=".DeviceBroadcastReciver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>



        <activity android:name=".AlarmDialog"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:launchMode="singleInstance"

            />
        <activity android:name=".SignupActivity"  android:screenOrientation="portrait"/>

        <activity android:name=".Main2Activity"  android:screenOrientation="portrait"/>
        <!--<activity android:name=".SignupActivity"  android:screenOrientation="portrait"/>-->
        <activity android:name=".MainActivity"  android:screenOrientation="portrait"/>

        <activity android:name=".details" android:screenOrientation="portrait" />
        <activity android:name=".comming"  android:screenOrientation="portrait"></activity>
        <activity android:name=".last"  android:screenOrientation="portrait"></activity>

        <activity android:name=".Edit"  android:screenOrientation="portrait"></activity>

    </application>

</manifest>